{% extends 'base.html' %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
    <style>
        button:hover{
            box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.5);
        }
    </style>
    <h2 class="text-center mt-2">Menú de métodos</h2>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Solución numérica de ecuaciones no lineales</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'biseccion' %}"><button style="background-color: #f39c12; border-color: #e68a00; width: 100%;" class="btn btn-lg">Bisección</button></a></li>
                            <li class="list-group-item"><a href="{% url 'regla_falsa' %}"><button style="background-color: #f39c12; border-color: #e68a00; width: 100%;" class="btn btn-lg">Regla falsa</button></a></li>
                            <li class="list-group-item"><a href="{% url 'punto_fijo' %}"><button style="background-color: #f39c12; border-color: #e68a00; width: 100%;" class="btn btn-lg">Punto fijo</button></a></li>
                            <li class="list-group-item"><a href="{% url 'newton' %}"><button style="background-color: #f39c12; border-color: #e68a00; width: 100%;" class="btn btn-lg">Newton</button></a></li>
                            <li class="list-group-item"><a href="{% url 'raices_multiples' %}"><button style="background-color: #f39c12; border-color: #e68a00; width: 100%;" class="btn btn-lg">Raices multiples</button></a></li>
                            <li class="list-group-item"><a href="{% url 'secante' %}"><button style="background-color: #f39c12; border-color: #e68a00; width: 100%;" class="btn btn-lg">Secante</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Solución numérica de sistemas de ecuaciones</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'jacobi' %}"><button style="width: 100%; background-color: #f39c12; border-color: #e68a00" class="btn btn-lg">Jacobi</button></a></li>
                            <li class="list-group-item"><a href="{% url 'gauss_seidel' %}"><button style="width: 100%; background-color: #f39c12; border-color: #e68a00" class="btn btn-lg">Gauss Seidel</button></a></li>
                            <li class="list-group-item"><a href="{% url 'SOR' %}"><button style="width: 100%; background-color: #f39c12; border-color: #e68a00" class="btn btn-lg">SOR</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Interpolación</h5>
                        <br>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'vandermonde' %}"><button style="width: 100%; background-color: #f39c12; border-color: #e68a00" class="btn btn-lg">Vandermonde</button></a></li>
                            <li class="list-group-item"><a href="{% url 'newton_diferencias_divididas' %}"><button style="width: 100%; background-color: #f39c12; border-color: #e68a00" class="btn btn-lg">Newton dif. divididas</button></a></li>
                            <li class="list-group-item"><a href="{% url 'lagrange' %}"><button style="width: 100%; background-color: #f39c12; border-color: #e68a00" class="btn btn-lg">Lagrange</button></a></li>
                            <li class="list-group-item"><a href="{% url 'spline' %}"><button style="width: 100%; background-color: #f39c12; border-color: #e68a00" class="btn btn-lg">Spline</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
{% endblock %}